body {
background: #121212 !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.5em !important;
    background-color: #121212 !important;
}
  
::-webkit-scrollbar-thumb {
  background-color: darkgray !important;
  border-radius: 10px !important;
}

div#title {
    margin-bottom: 1rem;
}

html {
    min-height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
  
  /* dark mode */
.night-mode ::-webkit-scrollbar {
  width: 0.5em !important;
  background-color: transparent;
}
.night_mode i {
    font-family: "JetBrains Mono NL", Consolas,Menlo,Monaco,monospace !important;
    color: black;
    background: white;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(0.8125rem, 2.5vw, 0.934375rem);
    margin: 0 -.05em;
    padding: .2em .3em;
    border-radius: .13em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* testing gradients for <i> inline-code
@keyframes gradient {
    0% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 300% 300%;
    }
    100% {
      background-position: 0% 50%;
      background-size: 300% 300%;
    }
  }

.night_mode i {
    color: black;
  background: linear-gradient(90deg, #F7FF19 0%, #3ad59f 100%);
    animation: gradient 20s ease infinite forwards !important;
} 
*/


.night_mode b {
    color: #aef745;
}

.night_mode .wrapper {
    box-sizing: border-box !important;
    margin-top: 0rem;
    background: #1e1e1e;
    padding: 3.5rem 1.5rem;
    border-radius: 9px;
}

#text {
  line-height: 2.85rem !important;
}

.night_mode #codeBlock,
.night_mode #syntaxBlock {
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
    font-weight: 400;
    background-color: #333333 !important;
    color: white !important;
    text-align: left;
    border-radius: 6px;
    max-width: 35rem;
    margin: 1.75rem auto;
    padding: 1.7rem;
}

.night_mode hr {
    background-color: rgba(255, 255, 255, 0.12);
}

.night_mode code {
  background-color:#1e293d;
}

.night_mode . {
background-color: black;
}

.night_mode #title,
.night_mode h2 {
    color: white;
}

#type {
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.5rem;
}

.card {
    font-family: "Untitled Sans", "Segoe UI", "Helvetica Neue", "Helvetica", "Open Sans","Lucida Sans", arial, sans-serif;
	font-weight: 300;
	font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.15rem);
    text-align: left;
	color: #3a3a3a;
	width: 45rem;
	margin: 0 auto;
	line-height: 1.5rem;
    padding: 1rem;
	hyphens: auto;
}

#title, 
h2 {
       font-family: "Nothing Font (5x7)", "Helvetica Neue", "Inter", sans-serif;
       font-size: clamp(1.5rem, 5vw, 2rem);
       font-weight: 500;
       color: #2e2e2e;
}

h2 {
    margin-top: 2rem;
}

/* fill-in-blanks colors */

span.cloze.st-ok {
    color: #aef745 !important;
}

span.cloze.st-expected {
     color: #E4FF7A !important;
}

span.cloze.st-error {
    color: #FF1744 !important;
}

#backExtra {
    line-height: 2.5rem;
}

/* hint styling */

#hintBlock > a:hover {
    color: #aef745 !important;
}

#hintBlock > a {
    color: white;
}


#hintBlock {
    font-family: "Untitled Sans", "Segoe UI", "Helvetica Neue", "Helvetica", "Open Sans","Lucida Sans", arial, sans-serif;
    text-align: center;
    background: #333333;
    border-radius: 8px;
    max-width: 35rem;
    margin: auto;
    padding: 1.7rem;
}

.hint {
    font-weight: 300 !important;
}

/* code */

#codeBlock,
#syntaxBlock {
	font-family: "JetBrains Mono NL", Consolas,Menlo,Monaco, monospace !important;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: white;
    text-align: left;
    background: #27282c;
    border-radius: 6px;
    max-width: 35rem;
    margin: 2rem auto;
    padding: 1.7rem;
}

#codeBlock b {
    color: #00E5FF !important;
}

/* code input box */
#typeans0 {
    height: 1.35em;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 8px;
}

/* in-line code highlight */

i {
    font-family: "JetBrains Mono NL", Consolas,Menlo,Monaco,monospace !important;
    color: white;
    background: black;
    font-weight: bold;
    font-style: normal;
    margin: 0 -.05em;
    padding: .2em .3em;
    border-radius: .13em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


/* Additional styling */

b {
    font-weight: 500;
}

u {
    text-underline-offset: 3px;
    text-decoration-thickness: 7px;
}

#hintBlock > a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

strong {
    color: #fff;
}

.cloze:nth-of-type(n) {
    color: #00E5FF !important;
    font-weight: bold; 
}

@media screen and (max-width: 525px) {
    #type {
        text-align: left;
        margin: 1.15rem 0;
    }
}

@media screen and (max-width: 45em) {
    .card {
        max-width: 45rem;
    }
}